/* #ifdef  MP-WEIXIN*/
   .main{
   	padding-top: 150rpx;
   }
/* #endif */
/* #ifndef  MP-WEIXIN*/
   .main{
   	padding-top:92rpx;
   }
/* #endif */
.main{
	margin-bottom: 100rpx;
}
.box{
	display: flex;
	flex-direction: row;
	margin: 20upx;
}
.box1{
	display: flex;
	flex-direction: row-reverse;
}
.touxiang{
	width: 80upx;
	height:80upx ;
	border-radius:10%;
	margin: 10upx;
}
.box-content{
	width: 600upx;;
	font-size: 16px;
	margin-top: 25upx;
}